<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap-theme.min.css' />
  </head>
	<body>
		<% if(!isAuthenticated) { %>
			<a href="/users/login">Log in here</a>
		<% } else { %>
			Hello, <%= user.name %>!
			<a href="/users/logout">Log out here</a>
		<% } %>
	</body>
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/javascripts/app/app.js"></script>
  </body>
</html>
